<div class="donate-runner">
  <div class="link-wrapper">
    <div class="social-links">
      <%= link_to image_tag("/images/twitter.png", :height=>"46", :width=>"47"), "http://twitter.com/mobilitymn"%>
      <%= link_to image_tag("/images/facebook.png", :height=>"46", :width=>"47"), "http://facebook.com/mobilityforindependence"%>
    </div>
    <%= link_to "Donate", "#", :class => 'donate' %>
  </div>
</div>
