<div class="footer-top">
  <div class="newsletter">
    <form action="#">
      <label for="newsletter-signup">Newsletter Signup</label>
      <input type="text" name="newsletter-signup" />
      <input class="button" type="submit" value="Signup" />
    </form>

  </div>
  <div class="shop">
    <%= link_to "Shop", "#" %>
    <div class="detail">
      <span>Crave Gift Card 50% Off A Grand Slam at Denny's</span>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>

  <div class="links">

  </div>
</div>
