<div class="newsletter">  
  <form action="http://visitor.constantcontact.com/d.jsp">
    <label for="ea">Newsletter Signup</label>
    <input type="text" name="ea" placeholder="Your email address" />
    <input type="hidden" name="m" value="1100740321723">
    <input type="hidden" name="p" value="oi">
    <input class="button" type="submit" value="Signup" />
  </form>
  <div style="display:none">
    For <a href="http://www.constantcontact.com/index.jsp" target="_blank">Email Marketing</a> you can trust
  </div>
</div>
  