.button {
  background: url(/images/btn.png) 0 0 repeat-x;
  border: none;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 30px;
  padding: 0 10px 0;
  text-align: center;
  text-decoration: none;
  @include border-radius();
  @include text-shadow();
  @include box-shadow(#666, 1px, 1px, 3px);

  &:hover {
    background-position: 0 (-30px * 2);
  }
  
  &:active {
    background-position: 0 (-30px * 1);
  }
}

a.button {
  float: right;
  height: 23px;
  padding-top: 7px;
}
