#header {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  
  h1#logo {
    float: left;
    height: 96px;
    width: 178px;
  }

  nav.menu {
    color: #969696;
    float: right;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 40px;
    width: 760px;
    z-index: 1000;

    & > ul {

      & > li {
        display: block;
        margin: 0;
        padding-bottom: 5px;
        width: 126px;

        a {
          color: #969696;
          display: block;
          font-weight: normal;
          text-decoration: none;
          padding: 10px 10px 5px 10px;

          &:hover {
            color: #000;
          }
        }

        &.selected > a {
          color: #000;
        }

        & > ul {
          display: none;
          font-size: 12px;
          z-index: 1000;

          & li a {
            border-top: 1px solid #ccc;
            display: block;
            margin: 0 10px;
            padding: 7px 0;
            width: 106px;
          }
        }
      }
    }

    & > ul {
      & > li:hover {
        background: #fff;
        @include border-radius();
        @include box-shadow();

        & > ul {
          display: block;

        }

      }
    }
  }
}
