#header {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  
  h1#logo {
    float: left;
    height: 96px;
    width: 178px;
  }

  nav#menu {
    color: #969696;
    float: right;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 40px;
    width: 753px;
    z-index: 1000;

    & > ul {

      & > li {
        padding: 10px;
        width: 98px;

        a {
          color: #969696;
          font-weight: normal;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }

        &.selected > a {
          color: #000;
        }

        & > ul {
          display: none;
          font-size: 14px;
          z-index: 1000;

          & li a {
            display: block;
            padding: 5px;
          }
        }
      }
    }

    & > ul {
      & > li:hover {
        background: #fff;
        @include border-radius();
        @include box-shadow();

        & > ul {
          display: block;

        }

      }
    }
  }
}
