@charset "UTF-8";
/* line 1, sass/_button.scss */
.button {
  background: url(/images/btn.png) 0 0 repeat-x;
  border: none;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 30px;
  padding: 0 10px 0;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #aaaaaa 1px 1px 1px;
  -moz-box-shadow: #666666 1px 1px 3px 0;
  -webkit-box-shadow: #666666 1px 1px 3px 0;
  -o-box-shadow: #666666 1px 1px 3px 0;
  box-shadow: #666666 1px 1px 3px 0;
}
/* line 15, sass/_button.scss */
.button:hover {
  background-position: 0 -60px;
}
/* line 19, sass/_button.scss */
.button:active {
  background-position: 0 -30px;
}

/* line 24, sass/_button.scss */
a.button {
  float: right;
  height: 23px;
  padding-top: 7px;
}

/* line 1, sass/_donate_runner.scss */
.donate-runner {
  background: url(/images/runner-bkgd.png) 0 0 repeat-x;
  height: 29px;
}
/* line 5, sass/_donate_runner.scss */
.donate-runner .link-wrapper {
  margin: 0 auto;
  width: 960px;
}
/* line 9, sass/_donate_runner.scss */
.donate-runner .link-wrapper .social-links {
  float: right;
}
/* line 12, sass/_donate_runner.scss */
.donate-runner .link-wrapper .social-links a {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 20, sass/_donate_runner.scss */
.donate-runner .link-wrapper a.donate {
  background: url(/images/donate-runner.png) 0 0 no-repeat;
  color: transparent;
  display: block;
  float: right;
  height: 48px;
  position: relative;
  top: 2px;
  width: 158px;
}
/* line 30, sass/_donate_runner.scss */
.donate-runner .link-wrapper a.donate:hover {
  background-position: -316px 0;
}
/* line 33, sass/_donate_runner.scss */
.donate-runner .link-wrapper a.donate:active {
  background-position: -158px 0;
}

/* line 1, sass/_header.scss */
#header {
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
/* line 6, sass/_header.scss */
#header h1#logo {
  float: left;
  height: 96px;
  width: 178px;
}
/* line 12, sass/_header.scss */
#header nav#menu {
  color: #969696;
  float: right;
  font-size: 18px;
  position: relative;
  top: 40px;
}
/* line 20, sass/_header.scss */
#header nav#menu ul li {
  margin: 0;
  padding: 0;
}
/* line 23, sass/_header.scss */
#header nav#menu ul li a {
  font-weight: normal;
  padding: 5px 14px;
  text-decoration: none;
}
/* line 28, sass/_header.scss */
#header nav#menu ul li a:link {
  color: #969696;
}
/* line 31, sass/_header.scss */
#header nav#menu ul li a:visited {
  color: #969696;
}
/* line 34, sass/_header.scss */
#header nav#menu ul li a:hover {
  color: #000;
}
/* line 39, sass/_header.scss */
#header nav#menu ul li:after {
  content: "|";
  color: #000;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: -2px;
}
/* line 48, sass/_header.scss */
#header nav#menu ul li:last-child:after {
  content: "";
}

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
/* line 7, sass/_coin_slider.scss */
.coin-slider {
  overflow: hidden;
  zoom: 1;
  position: relative;
}

/* line 8, sass/_coin_slider.scss */
.coin-slider a {
  text-decoration: none;
  outline: none;
  border: none;
}

/* line 10, sass/_coin_slider.scss */
.cs-buttons {
  font-size: 0px;
  padding: 10px;
  float: left;
}

/* line 11, sass/_coin_slider.scss */
.cs-buttons a {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  float: left;
  border: 1px solid #B8C4CF;
  color: #B8C4CF;
  text-indent: -1000px;
}

/* line 12, sass/_coin_slider.scss */
.cs-active {
  background-color: #B8C4CF;
  color: #FFFFFF;
}

/* line 14, sass/_coin_slider.scss */
.cs-title {
  width: 545px;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 17, sass/_coin_slider.scss */
.cs-prev,
.cs-next {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0px 10px;
}

/* line 1, sass/_footer.scss */
#footer {
  margin-bottom: 20px;
}
/* line 4, sass/_footer.scss */
#footer .footer-top {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
/* line 9, sass/_footer.scss */
#footer .footer-top .newsletter {
  background: #e9e8ea;
  float: left;
  height: 52px;
  padding: 20px 0 0 30px;
  width: 556px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, sass/_footer.scss */
#footer .footer-top .newsletter form {
  overflow: hidden;
}
/* line 20, sass/_footer.scss */
#footer .footer-top .newsletter form label {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
/* line 30, sass/_footer.scss */
#footer .footer-top .newsletter form input {
  display: block;
  float: left;
  margin-bottom: 5px;
}
/* line 36, sass/_footer.scss */
#footer .footer-top .newsletter form input[type=text] {
  font-size: 15px;
  height: 24px;
  position: relative;
  margin-right: 5px;
  top: 2px;
  width: 269px;
}
/* line 47, sass/_footer.scss */
#footer .footer-top .shop {
  background: #e9e8ea;
  float: right;
  height: 52px;
  padding: 20px 0 0 30px;
  position: relative;
  width: 332px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 56, sass/_footer.scss */
#footer .footer-top .shop a {
  background: url(/images/shop-btn.png) 0 0 no-repeat;
  color: transparent;
  display: block;
  height: 77px;
  left: -10px;
  position: absolute;
  top: -8px;
  width: 184px;
}
/* line 66, sass/_footer.scss */
#footer .footer-top .shop a:hover {
  background-position: -368px 0;
}
/* line 70, sass/_footer.scss */
#footer .footer-top .shop a:active {
  background-position: -184px 0;
}
/* line 75, sass/_footer.scss */
#footer .footer-top .shop .detail {
  background: url(/images/shop-brackets.png) 0 0 no-repeat;
  display: block;
  font-size: 13px;
  float: right;
  height: 77px;
  position: relative;
  top: -8px;
  width: 185px;
}
/* line 85, sass/_footer.scss */
#footer .footer-top .shop .detail span {
  display: block;
  margin: 11px 17px 0 20px;
}
/* line 93, sass/_footer.scss */
#footer .footer-bottom {
  background: #3f3f3f;
  clear: both;
  color: #e9e8ea;
  font-size: 13px;
  padding: 10px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 101, sass/_footer.scss */
#footer .footer-bottom ol.footer-links {
  float: right;
  width: 500px;
  text-align: right;
}
/* line 106, sass/_footer.scss */
#footer .footer-bottom ol.footer-links li {
  display: inline;
}
/* line 108, sass/_footer.scss */
#footer .footer-bottom ol.footer-links li a {
  color: #e9e8ea;
  text-decoration: none;
}
/* line 112, sass/_footer.scss */
#footer .footer-bottom ol.footer-links li a:after {
  content: "|";
  padding: 10px;
}
/* line 118, sass/_footer.scss */
#footer .footer-bottom ol.footer-links li:last-child a:after {
  content: "";
  padding: 0;
}

/* line 8, sass/application.scss */
#page {
  width: 960px;
}
