@charset "UTF-8";
/* line 3, sass/home.scss */
.tagline {
  background: url(/images/home-quote.png) 0 0 no-repeat;
  font-size: 16px;
  height: 53px;
  line-height: 22px;
  margin-top: 15px;
  padding: 16px 0 0 100px;
}
