<%= image_tag "/images/rotator/key-to-independence.png" %>

<div class="tagline">
  <p>Mobility for Independence is committed to improving the lives of children and adults<br />
  with disabilities by helping provide a means for them to be more mobile.</p>
</div>
